/* Общие стили для страницы */
body {
    font-family: Arial, sans-serif;
    background-color: rgba(144, 238, 144, 0.55);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

/* Общие стили для контейнера */
.container {
    max-width: 100%;
    padding: 20px;
    position: relative;
}

#morse-bar {
    left: 50%;
    font-size: 40px;
    height: var(--overlay-height, 70px);
    text-align: center;
    color: white;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}
/* Стили для области оверлея */
#overlay-area {
    position: relative;
    left: 50%;
    height: var(--overlay-height, 70px);
    transform: translateX(-50%);
    background-color: rgba(255, 127, 80, 0);
    border-radius: 10px;
}

/* Стили для области игры */
#game-area {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 4px;
}

/* Стили для изображения в области игры */
#game-area img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 0px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* Медиазапрос для мобильных устройств */
@media (max-width: 600px) {
    .container {
        max-width: 100%;
    }
}

/* Стили для оверлейной кнопки */

.button-overlay-area {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 127, 80, 0.8);
    transition: transform 1s, background-color 0.2s;
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.button-overlay-area.pulsing {
    animation: pulse 1.75s infinite, gradientShift 10s ease infinite;
    background: linear-gradient(to right, rgba(255, 102, 102, 0.9), rgba(255, 178, 102, 0.9), rgba(255, 255, 102, 0.9), rgba(102, 255, 102, 0.9), rgba(102, 255, 255, 0.9), rgba(102, 102, 255, 0.9));
    background-size: 400% 100%;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.15);
    transition: transform 1s, background-color 5s;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.025);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.character {
    width: 50px;
    height: 50px;
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 127, 80, 0.15);
    border-radius: 15px;
    margin:2%;
    border:1px solid rgba(255, 255, 255, 0.15);
    display: flex;              /* Используем flex-контейнер */
    justify-content: center;    /* Центрируем по горизонтали */
    align-items: center;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    animation: fadeIn 2s forwards;
    opacity:0;
}


/* Определим анимацию fadeIn */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Общие стили для плавающих символов */
.symbol {
    position: absolute;
    font-size: 120px;
    color: rgba(255, 255, 255, 1.0);
    transition: transform 1.3s linear, opacity 1.4s linear;
}

/* Стили для символов "🧁" и "🍭" */
.symbol-eat {
    position: absolute;
    font-size: 30px;
    color: rgba(255, 255, 255, 1.0);
    transition: transform 1.3s linear, opacity 1.4s linear;
}

/* Панель кнопок внизу экрана */
.button-panel {
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(154, 205, 50, 0.35);
    border-radius: 10px 10px 0px 0px;
    padding: 15px 10px 10px 10px;
    display: flex;
    justify-content: space-around;
    width: 95%;
    max-width: 400px;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

/* Общие стили для кнопок */
.button {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1.0);
    border: none;
    margin: 0 0px;
    transition: background-color 0.15s ease;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

/* Эффект нажатия на кнопку */
.button:active {
    background-color: rgba(154, 205, 50, 0.05);
}

/* Панель кнопок вверху экрана */
.button-panel-top {
    position: fixed;
    top: 3px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(154, 205, 50, 0.35);
    border-radius: 0px 0px 10px 10px;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    width: 95%;
    max-width: 400px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

/* Стили для кнопок и элементов в панели вверху */
.button-panel-top .button {
    width: 80px;
    height: 20px;
}

.button-panel-top .profile {
    width: 80px;
    height: 80px;
}

.button-panel-top .wide-button {
    position: relative;
    width: 100%;
    height: 20px;
    margin: 0px 0 0px 0px;
    border: none;
    overflow: hidden;
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.2);
}

.wide-button::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    z-index: 1;
    transition: width 0.25s ease-in-out;
}

/* Анимация для фона широкой кнопки */
.background-wide-button {
    width: 100%;
    height: 20px;
    margin: 10px 0 0px 0px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(to right, rgba(255, 178, 102, 0.9), rgba(255, 255, 102, 0.9), rgba(102, 255, 102, 0.9), rgba(102, 255, 255, 0.9), rgba(102, 102, 255, 0.9));
    animation: rainbow 30s ease infinite;
    background-size: 400% 20px;
}

@-webkit-keyframes rainbow {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@keyframes rainbow {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Стили для отображения инкремента */
#increment-display {
    z-index: 2;
    text-align: center;
    width: 100%;
    color: white;
    font-weight: 1000;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
