body {
    font-family: Arial, sans-serif;
    background-color: #ffe4e1; /* Новый цвет фона страницы */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Сделаем контейнер по вертикали по центру */
    overflow: hidden; /* Убираем скролл */
}

.container {
    max-width: 100%; /* Ограничиваем максимальную ширину контейнера */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.0);
}

h1 {
    text-align: center;
    color: #333;
}

#game-area {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-area img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
}

/* Медиазапрос для устройств с максимальной шириной до 600px (типичный размер большого смартфона) */
@media (max-width: 600px) {
    .container {
        max-width: 100%;
    }
}

div.symbol {
    position: absolute;
    font-size: 24px;
    color: white;
    transition: transform 2s linear, opacity 2s linear;
}
